* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    
} 

h1 {
    margin: 6vh auto;
    justify-content: center;
    color: steelblue;
    font-size: 3rem;
}

h1 + ul {
    margin-top: 15vh;
}

li {
    padding: 1vw 2vw;
    text-align: center;
}

li a{
    color: #000;
    text-decoration: none;
    font-size: 1.4rem;
    text-transform: capitalize;
}

/********    SECOND PAGE      ********/

h1 + img {
    width: 300px;
    height: auto;
}




/*************************************/
